<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.jeonghoon.com.nooncoaching">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/noon_icon"
        android:label="@string/app_name"
        android:logo="@drawable/noon"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".GetFood">
            <intent-filter>
                <action android:name="ACTION.GET.ONE" />
                <action android:name="ACTION.GET.TWO" />
                <action android:name="ACTION.GET.THREE" />
                <action android:name="ACTION.GET.FOUR" />
                <action android:name="ACTION.GET.FIVE" />
                <action android:name="ACTION.GET.SIX" />
                <action android:name="ACTION.GET.SEVEN" />
                <action android:name="ACTION.GET.NORMAL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Weather">
            <intent-filter>
                <action android:name="Weather.a" />
                <action android:name="Detailaddr" />
            </intent-filter>
        </receiver>
        <receiver android:name=".settingBroadcast">
            <intent-filter>
                <action android:name="ACTION.SET.PATTERN" />
                <action android:name="ACTION.SET.PLACE" />
                <action android:name="ACTION.SET.ONEWEEK" />
            </intent-filter>
        </receiver>

        <activity android:name=".AnniActivity" />
        <activity android:name=".AnniEditActivity" />
        <activity android:name=".AnniModify" />
        <activity android:name=".optionActivity" />
        <activity android:name=".DBActivity" />
        <activity
            android:name=".SummarizationActivity"
            android:label="@string/title_activity_summarization"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
